@import 'Variables.scss';

.about-me {
    background-color: $lightest-gray;
    color: $darkest-gray;
    align-items: center;
}

.headshot {
    border-radius: 50%;
    box-shadow: 2px 2px 5px 0 $darkest-gray;
    width: 3rem;
    height: 3rem;
    margin: 0.25rem auto;
    display: block;
}

.wave {
    display: inline-block;
    animation: animate-wave 500ms infinite ease-in-out;
}

.about-me-paragraph {
    font-size: 0.85rem;
}

@keyframes animate-wave {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(0);
    }
}
