@import 'Variables.scss';

.about-me {
    background-color: $light-gray;
    padding: 10px 0;
    color: $dark-gray;
    align-items: center;
}

.highlight {
    color: $dark-aqua;
    font-weight: 700;
}
