@import 'Variables.scss';

#root {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: $primary-white;
}

body {
    margin: 0;
    padding: 0;
    background-color: $primary-white;
}
