@import 'Variables.scss';

#root {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1rem;
    background-color: $off-white;
}

body {
    margin: 0;
    padding: 0;
    background-color: $off-white;
}

section {
    padding: 12px 4vw;
}

p {
    max-width: 1600px;
    margin: 0 auto;
    align-items: center;
}

.section-header {
    margin: 6px;
    font-weight: 700;
}

.highlight {
    color: $aqua;
    font-weight: 700;
}
