@import 'Variables.scss';

footer {
    background-color: $dark-gray;
    padding: 0.5rem 0;
    color: $off-white;
    font-size: 0.75rem;
    align-items: center;

    ul {
        list-style-type: none;
        margin: 0.25rem;
        padding: 0;
    }

    li {
        display: inline-block;
        color: $aqua;
        margin: 0 10px;
    }

    a {
        color: $mint;
        text-decoration: none;
    }

    a:visited {
        color: $aqua;
        text-decoration: none;
    }
}

.footer-logo {
    width: 4rem;
    height: 2rem;
    margin: 0;
}
