@import 'Variables.scss';

header {
    position: relative;
    background-color: $dark-gray;
    padding: 10px 0;
    color: $mint;
    font-weight: 700;
    font-size: 2rem;
    align-items: center;
}

@media (min-width: $mobile-max-width) {
    header {
        font-size: 3rem;
    }
}

.nav-open-button {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $dark-gray;
    color: $mint;
    border: solid $mint 2px;
    border-radius: 4px;
    padding: 6px 10px;
}

@media (min-width: $mobile-max-width) {
    .nav-open-button {
        left: 20px;
        border: solid $mint 3px;
        padding: 8px 12px;
    }
}
