@import 'Variables.scss';

.icon-img {
    height: 2rem;
    width: 2rem;
    margin: 0 1rem;
    color: $darkest-gray;
    transition: transform 0.3s ease-in-out;
}

.icon-img:hover {
    transform: scale(1.2);
}

a:visited .icon-img {
    color: $gray;
}
