$primary-white: #dddddd;
$primary-gray: #222831;
$primary-blue: #30475e;
$primary-purple: #382253;

$accent-blue: #66bef1;
$accent-purple: #f05454;

$secondary-gray: rgb(48, 48, 48);
$tertiary-gray: rgb(128, 128, 128);
