$white: #eeeeee;
$off-white: #dddddd;
$lightest-gray: #cccccc;
$light-gray: #bbbbbb;
$gray: #555555;
$dark-gray: #2a2a2a;
$darkest-gray: #222222;

$aqua: #3aa598;
$mint: #94f3e4;

$mobile-max-width: 768px;
